*.manifest
*.user
*.sln
*.suo
*.mdf
*.ldf
*.csproj

packages

ElectionTool/fonts/*
ElectionTool/obj/*
ElectionTool/Properties
ElectionTool/Project_Readme.html

ElectionTool.DataImport/bin/*
ElectionTool.DataImport/obj/*
ElectionTool.DataImport/Properties

ElectionTool.UnitTests/*
UpgradeLog.htm
