*.config
*.xml
*.manifest
*.user
*.sln
*.suo
*.mdf
*.ldf
*.csproj
*.asax
*.asax.cs
*.ico

packages

ElectionTool/bin/*
ElectionTool/Entity Framework/*
ElectionTool/fonts/*
ElectionTool/obj/*
ElectionTool/Properties
ElectionTool/Project_Readme.html

ElectionTool.DataImport/bin/*
ElectionTool.DataImport/obj/*
ElectionTool.DataImport/Properties

ElectionTool.UnitTests/bin/*
ElectionTool.UnitTests/obj/*
ElectionTool.UnitTests/Properties
