@using ElectionTool.Models
@model HandleErrorInfo

@{
    ViewBag.Title = "Error";
    ViewBag.Description = "Es ist ein Fehler aufgetreten.";
    ViewBag.IsError = true;

    var seeStackTrace = TempData["AllowedToSeeStackTrace"] as bool? ?? false;
}

<div class="list-sfs-holder">
    @if (Model != null && seeStackTrace /*HttpContext.Current.IsDebuggingEnabled can also be used*/ )
    {
        <div>
            <p>
                <b>Exception:</b> @Model.Exception.Message<br/>
                <b>Controller:</b> @Model.ControllerName<br/>
                <b>Action:</b> @Model.ActionName
            </p>
            <div style="overflow: scroll">
                <pre>
                @Model.Exception.StackTrace
            </pre>
            </div>
        </div>
    }
</div>


