@model ElectionTool.Models.WahlkreisSelectionViewModel
           
@{
    ViewBag.Title = "Wahlkreise";
    ViewBag.Description = "Wählen sie einen Wahlkreis";
}

<div class="row">
    @foreach (var entry in Model.Bundeslands)
    {
        <div style="font-size: 14px;">@entry.Bundesland.Name</div>

        <div class="row">
            @foreach (var wk in entry.Wahlkreise)
            {
                <div>
                    @Html.ActionLink(wk.Name, "Overview", "Wahlkreis", new { electionId = Model.ElectionId, wahlkreisId = wk.Id}, null);
                </div>
            }
        </div>
        
        <div></div>
    }
</div>
