<?xml version="1.0" encoding="utf-8" ?>
<!--
    Note: Add entries to the App.config file for configuration settings
    that apply only to the Test project.
-->
<configuration>
    <appSettings>

    </appSettings>

  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\v11.0;AttachDbFilename=|DataDirectory|\aspnet-ElectionTool-20151104030915.mdf;Initial Catalog=aspnet-ElectionTool-20151104030915;Integrated Security=True" providerName="System.Data.SqlClient" />
    <!-- Maybe update the attachdbfilename! -->
    <add name="ElectionDBEntities" connectionString="metadata=&quot;res://*/Entity Framework.ElectionDBEntities.csdl|res://*/Entity Framework.ElectionDBEntities.ssdl|res://*/Entity Framework.ElectionDBEntities.msl&quot;;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDB)\v11.0;attachdbfilename=C:\Users\Thomas\Documents\Visual Studio 2013\Projects\ElectionTool\ElectionTool\App_Data\ElectionDB.mdf;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <!--
    <add name="ElectionDBEntities" connectionString="metadata=&quot;res://*/Entity Framework.ElectionDBEntities.csdl|res://*/Entity Framework.ElectionDBEntities.ssdl|res://*/Entity Framework.ElectionDBEntities.msl&quot;;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDB)\v11.0;attachdbfilename={absolute Path to the ElectionDB.mdf file};integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    -->
  </connectionStrings>
</configuration>
