@model ElectionTool.Models.PartySelectionViewModel
           
@{
    ViewBag.Title = "Parteien";
    ViewBag.Description = "Bitte wählen sie eine Partei";
}

<div class="row">
    @foreach (var party in Model.Parties)
    {
        <div>
            @Html.ActionLink(party.Name, "Result", "ClosestWinner", new {electionId = Model.ElectionId, partyId = party.Id}, null);
        </div>
    }
</div>
