@model ElectionTool.Models.PartySelectionViewModel
           
@{
    ViewBag.Title = "Parteien";
    ViewBag.Description = "Bitte wählen Sie eine Partei";
}

<div class="row">
    @foreach (var party in Model.Parties)
    {
        <div class="col-md-3">
            @Html.ActionLink(party.Name, "Result", "ClosestWinner", new {electionId = Model.ElectionId, partyId = party.Id}, new {@class = "btn btn-primary btn-block margin-top-md margin-bottom-md"})
        </div>
    }
</div>
